<%- include('partials/header') -%>

<main class="index container">
    <div class="cover-container row justify-content-around mt-5">
        <h4>Join a Creative Learning</h4>
        <h1>Spiral</h1>
        <h3>Because LEARNING is different when you choose it.</h3>
        <div class="button-container">
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/signup" class="col-3 btn btn-primary"> Signup</a>
        </div>        
    </div>
    <div>
        <img class="cover-img" src="/imgs/hero.jpg" alt="beads spelling out I feel like making dreams come true" />
    </div>
</main>
    

<%- include('partials/footer') -%>