<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= resource.title %></h2>
      <div class="row justify-content-between">
        <form
            action="/resource/updateResource/<%= resource._id %>?_method=PUT"
            method="POST"
            class="add-price"
          >
            <div class="mb-3">
              <label for="title" class="form-label">Resource title</label>
              <input type="text" class="form-control" id="title" name="title">
            </div>
            <div class="mb-3">
              <label for="desc" class="form-label">Resource description</label>
              <input type="text" class="form-control" id="desc" name="desc">
            </div>
            <div class="mb-3">
              <label for="link" class="form-label">Resource link</label>
              <input type="text" class="form-control" id="link" name="link">
            </div>
            <button class="btn btn-primary fa Square-Plus fontawesomeicon" type="submit"></button>
          </form>
      </div>
    </div>
    <div class="col-6 mt-5">
      <a class="btn btn-primary" href="/profile">Return to Profile</a>
      <a class="btn btn-primary" href="/feed">Return to Item List</a>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
