<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homeschool Tracker</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/twist.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header class="header-container">
      <div class="header-item">
        <img src="/imgs/twist.png" alt="Spiral homeschool platform logo" class="logo"/>
        <div id="header-text">
          <h3><a id="header-title" href="/profile">Spiral</a></h3>
          <p id="header-subtitle">Proof of learning</p>
        </div>
      </div>
    </header>
    <main class="singup-container">
      <div class="form-container">
          <img src="/imgs/twist_med.png" alt="Spiral homeschool platform logo" class="signup-img"/>
          <section class="form-inputs">
              <% if (locals.messages.errors) { %>
                  <% messages.errors.forEach( el => { %>
                      <div class="alert alert-danger"><%= el.msg %></div>
                  <% }) %>    
              <% } %>
              <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el => { %>
                      <div class="alert alert-info"><%= el.msg %></div>
                  <% }) %>    
              <% } %>
              <h3>Login</h3>
              <form action="/signup" method="POST">
                  <div class="form-input">
                      <label for="userName" class="form-label">User Name</label>
                      <input type="text" class="form-control" id="userName" name="userName">
                    </div>
                  <div class="form-input">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="form-input">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password">
                  </div>
                  <div class="form-input">
                      <label for="confirmPassword" class="form-label">Confirm Password</label>
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                    </div>
                  <button type="submit" class="btn">Submit</button>
                </form>
          </section>
      </div>
    </main>
  </body>
</html>
    

<%- include('partials/footer') -%>