body {
    background-color: #bce5f6;
}

/* ****
 Header
**** */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #fff;
    border-bottom: 1px solid black;
}

.inner-header-container {
    display: flex;
    justify-content: space-between;
}

.grocery-logo {
    width: 64px;
    height: 64px;
}

.header-title {
    margin: auto 0 auto 15px;
}

.header-title a {
    margin: 0;
    text-decoration: none;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
}

.inner-container {
    margin: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info {
    margin: 5px 10px;
}

.list-button {
    margin-left: 25px;
    width: 35%;
}

.list-button a {
    width: 100%;
}

/* ****
 Index
**** */
.index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.cover-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 30px;
    
}

.cover-container h1 {
    color: #F77A13;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0 0 10px 0;
} 
.cover-container h3 {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.8rem;
    margin: 10px 0 10px 0;
    padding: 0;
} 
.cover-container p {
    margin: 0;
    padding: 0;
}

.cover-img {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 5%;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ****
 Profile
**** */

.profile-container {
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-container {
    width: 100%;
    max-width: 400px;
    height: 100%;
    padding: 10px 15px  0 0;
}

.table-container {
    width: 70%;
    padding-top: 10px;
}

.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Square-Plus::before {
   font: var(--fa-font-solid);
    content: ' \f0fe';
 }

/* ****
 Table
**** */

thead {
    background-color: #3f87a6;
    color: #fff;
}

tbody {
    background-color: #e4f0f5;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}

td,
th {
    border: 1px solid rgb(0, 0, 0);
    padding: 5px 10px;
    width: 100px;
    text-align: center;
}

td {
    text-align: center;
}

.add-price {
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add-price input {
    width: 75px;
    margin-right: 10px;
}

/* ****
 List check boxes
**** */


.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.Square-Check::before {
   font: var(--fa-font-solid);
    content: ' \f14a';
 }

.Square-Full::before {
   font: var(--fa-font-solid);
    content: ' \f45c';
 }


.list-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    color: #F77A13;
}

.list-button-container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-button {
    width: 400px;
}

.resources {
    padding: 30px;
    display: flex;
}
